---
---

$paper: #f8f5eb;
$coal: #333;
$primary: #f0c40f;
$primary-highlight: rgba($primary, 0.5);

/*
 ================ GLOBAL STYLES
*/

body {
  background-color: $paper;
  background-image: url("../img/noise.png");
  color: $coal;
}

* {
  -webkit-tap-highlight-color: $primary-highlight;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $primary-highlight;
}

[none] {
  display: none !important;
}

a,
a:hover,
a:active {
  color: inherit;
  font-weight: inherit;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.7;
}

h1.variable {
  font-size: 55px;
  letter-spacing: -1px;
}

@media print, screen and (max-width: 640px) {
  h1.variable {
    font-size: 35px;
    letter-spacing: -0.5px;
  }
}

.markdown-dest {
  a {
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 80%;
      left: -0.1em;
      right: -0.1em;
      bottom: 0;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
      background-color: $primary-highlight;
    }
    &:hover {
      opacity: 1;
    }
    &:hover:after {
      top: 0%;
    }
  }

  .not-markdown-area {
    a:after {
      all: initial;
    }
  }
}

/*
 ================ GALLERY-POST STYLES
*/

body.gallery {
  background: #222;
  color: white;

  header,
  section,
  footer {
    width: unset;
    float: unset;
    position: unset;
  }

  footer .logos {
    filter: invert(1) grayscale(1);
  }

  .gallery-dest {
    img {
      display: block;
    }
  }

  div.navigation {
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    a {
      margin-right: 30px;
    }
  }
}

/*
 ================ GALLERY STYLES
*/

.single-exhib {
  max-width: 500px;
  background: $coal;
  padding: 40px;
  color: white;
  margin-bottom: 30px;
  transition: all 0.2s;
  &:hover {
    background: $primary;
  }
}

.exhib-img {
  margin-bottom: 30px;
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  div {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/noise.png");
  }
}

.exhib-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exhib-text {
  flex: 1;
  h2,
  p {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

.exhib-links {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  a.exhib-button {
    text-decoration: none;
  }
  .exhib-button {
    display: block;
    width: 60px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid white;
    color: white;
    margin-left: 15px;
    &:hover {
      opacity: 1;
      background: white;
      color: $primary;
    }
    h1 {
      margin: 0;
    }
    i {
      margin-bottom: 7px;
    }
    small {
      color: inherit;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

/*
 ================ PEOPLE STYLES
*/

.people {
  * {
    transition: all 0.2s;
  }
  .single-p {
    text-decoration: none;
  }
}
.single-p {
  display: flex;
  margin-bottom: 30px;

  &:hover {
    opacity: 1;
    .intro {
      transform: translateX(10px);
    }
    .p-img.l {
      background-color: transparent;
    }
  }
  .r,
  .l,
  .intro {
    height: 250px;
    width: 250px;
  }
}

.p-img {
  background-size: cover;
  background-position: center;

  &.l {
    background-color: $primary;
    background-blend-mode: screen;
  }

  &.l.light-photo {
    background-color: lighten(rgba($primary, 1), 15%);
    background-blend-mode: soft-light;
  }

  &.r {
    background-image: none !important;
    // filter: grayscale(1);
    background-color: $coal;
    background-blend-mode: darken;
    position: absolute;
    z-index: -1;
  }
}
.intro {
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    font-size: 25px;
    width: 150px;
    line-height: 1;
  }
  small {
    display: block;
  }
}

@media print, screen and (max-width: 640px) {
  .single-p {
    flex-direction: column;
  }
}

/*
 ================ SHOWCASE STYLES
*/

body.showcase {
  margin: 0;
  padding: 0;
  background-image: url("../img/noise-2.png");
  * {
    box-sizing: border-box;
  }
  .sc-huge-title {
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 0.8;
    margin-bottom: 18px;
  }
  .container {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .left-sidebar-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px;
  }
  .logos {
    filter: grayscale(1);
    a {
      margin-right: 20px;
    }
    img {
      height: 40px;
    }
  }
  .text-group p {
    font-size: 33px;
    max-width: 700px;
    line-height: 1.1;
  }
  .navigation {
    color: #aaa;
    margin-top: 50px;
  }
  .single-nav {
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 1px;
    &:after {
      content: "→";
      display: inline-block;
      margin-left: 3px;
      transition: all 0.2s;
    }
    &:hover:after {
      transform: translateX(4px);
    }
  }

  .cbc-outer {
    position: absolute;
    left: 100%;
    bottom: 0px;
    z-index: -1;
  }

  .comic-banner {
    background-size: contain;
    background-blend-mode: multiply;
    height: 135vh;
    width: 90vh;
    transform: rotate(-13deg) translateX(-30vw);
    transform-origin: 100% 100%;
  }

  @media print, screen and (max-width: 920px) {
    .left-sidebar-content {
      padding: 40px;
    }

    .sc-huge-title {
      font-size: 60px;
    }

    .text-group p {
      font-size: 22px;
    }

    .logos img {
      height: 20px;
      margin-right: 2px;
    }

    .comic-banner {
      transform: translateX(-6vw) rotate(-10deg);
    }
  }
}

/*
 ================ POST STYLES
*/

body.page {
  .sc-head {
    font-size: 56px;
    line-height: 0.7;
    letter-spacing: -2px;
  }

  header {
    padding-bottom: 30px;
  }

  .page-title {
    color: $primary;
  }

  .navigation {
    color: #aaa;
    margin-top: 50px;
  }
  .single-nav {
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    &:after {
      content: "→";
      display: inline-block;
      margin-left: 3px;
      transition: all 0.2s;
    }
    &:hover:after {
      transform: translateX(4px);
    }
  }
  .logos {
    margin-bottom: 10px;
    filter: grayscale(1);
    a {
      margin-left: -5px;
      margin-right: 8px;
    }
    img {
      height: 40px;
    }
  }
}
