---
layout: base
---

<body class="page">
  <div class="wrapper">
    <header>
      <h1 class="sc-head">
        <a href="/"> Stats<br />Comics<br /> </a>
        <span class="page-title">{{ page.title }}</span>
      </h1>
      {% include nav.html %}
    </header>
    <section class="markdown-dest">
      {{ content }}
    </section>
    <footer>
      <div class="logos">
        <a href="https://www.ed.ac.uk/informatics/"
          ><img src="/assets/img/univs/logo-ed-s.png"
        /></a>
        <a href="https://web.cs.toronto.edu/"
          ><img src="/assets/img/univs/logo-ut-s.png"
        /></a>
        <a href="http://stanford.edu/"
          ><img src="/assets/img/univs/logo-stanford-s.png"
        /></a>
        <a href="http://cic.tju.edu.cn/"
          ><img src="/assets/img/univs/logo-tju-s.png"
        /></a>
      </div>
      <p><small>Copyright &copy; 2020 Stats Comics.</small></p>
    </footer>
  </div>
</body>
