<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f8f5eb" />
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body class="page">
    <div class="wrapper">
      <header>
        <h1 class="sc-head">
          <a href="/">
            Stats Comics
          </a>
          <span class="page-title">{{ page.title }}</span>
        </h1>

        <div class="navigation">
          <a class="single-nav" href="people.html">People</a>
          <a class="single-nav" href="publication.html">Publication</a>
          <a class="single-nav" href="workshop.html">Workshop</a>
          <a class="single-nav" href="gallery.html">Gallery</a>
        </div>

      </header>
      <section class="markdown-dest">

      {{ content }}

      </section>
      <footer>
        <p><small>Copyright &copy; 2020 Stats Comics.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>