---
layout: page
---

<div class="people not-markdown-area">
  <a unstyled href="http://benjbach.me/" class="single-p">
    <div class="single-p-left">
      <div
        class="p-img l light-photo"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/bach.png);
        "
      ></div>
    </div>
    <div class="single-p-right">
      <div
        class="p-img r"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/bach.png);
        "
      ></div>
      <div class="intro">
        <h1>Benjamin Bach</h1>
        <small>Assistant Professor</small>
        <small>The University of Edinburgh</small>
      </div>
    </div>
</a>
  <a unstyled href="http://fannychevalier.net/" class="single-p">
    <div class="single-p-left">
      <div
        class="p-img l"
        style="
          background-image: url(http://www.cs.toronto.edu/~fanny/images/fanny-portrait.png);
        "
      ></div>
    </div>
    <div class="single-p-right">
      <div
        class="p-img r"
        style="
          background-image: url(http://www.cs.toronto.edu/~fanny/images/fanny-portrait.png);
        "
      ></div>
      <div class="intro">
        <h1>Fanny Chevalier</h1>
        <small>Assistant Professor</small>
        <small>Univerity of Toronto</small>
      </div>
    </div>
</a>

  <a unstyled href="https://www.designinformatics.org/person/zezhong-wang/" class="single-p">
    <div class="single-p-left">
      <div
        class="p-img l"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/wang.jpg);
        "
      ></div>
    </div>
    <div class="single-p-right">
      <div
        class="p-img r"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/wang.jpg);
        "
      ></div>
      <div class="intro">
        <h1>Zezhong Wang</h1>
        <small>PhD Student</small>
        <small>The University of Edinburgh</small>
      </div>
    </div>
</a>

  <a unstyled href="http://jritch.github.io/" class="single-p">
    <div class="single-p-left">
      <div
        class="p-img l"
        style="
          background-image: url(https://www.jacobritchie.xyz/headshot.jpg);
        "
      ></div>
    </div>
    <div class="single-p-right">
      <div
        class="p-img r"
        style="
          background-image: url(https://www.jacobritchie.xyz/headshot.jpg);
        "
      ></div>
      <div class="intro">
        <h1>Jacob Ritchie</h1>
        <small>PhD Student</small>
        <small>Stanford University</small>
      </div>
    </div>
</a>

  <a unstyled href="http://www.tzingtao.com" class="single-p">
    <div class="single-p-left">
      <div
        class="p-img l"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/jingtao.png);
        "
      ></div>
    </div>
    <div class="single-p-right">
      <div
        class="p-img r"
        style="
          background-image: url(https://visualinteractivedata.github.io/people/jingtao.png);
        "
      ></div>
      <div class="intro">
        <h1>Tzingtao Chow</h1>
        <small>Undergraduate Student</small>
        <small>Tianjin University</small>
      </div>
    </div>
  </div>
</a>
