---
layout: base
---

<body class="showcase">
  <div class="container">
    <div class="cbc-outer">
      <div class="cbc-inner" data-depth="0.2">
        <div
          class="comic-banner"
          style="background-image: url(assets/img/comic-banner.png);"
        ></div>
      </div>
    </div>
    <div class="left-sidebar-content">
      <div class="logos">
        <a href="https://www.ed.ac.uk/"
          ><img src="assets/img/univs/logo-ed.png"
        /></a>
        <a href="http://www.tju.edu.cn/english/index.htm"
          ><img src="assets/img/univs/logoTianjin.png"
        /></a>
          <a href="https://www.stanford.edu/"
          ><img src="assets/img/univs/logoStanford.png"
        /></a>
        <a href="https://web.cs.toronto.edu/"
          ><img src="assets/img/univs/logo-ut.png"
        /></a>
      </div>
      <div class="text-group">
        <h1 class="sc-huge-title">Data Comics for Reporting<br> Controlled User Studies</h1>
        <p>in Human-Computer Interaction</p>
        {% include nav.html %}
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script>
    var scene = document.querySelector(".cbc-outer");
    var parallaxInstance = new Parallax(scene);
  </script>
</body>
